<h5>Exemplos de Pipes</h5>

<p>Título: {{ livro.titulo | uppercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number }} </p>
<p>Páginas: {{ livro.numeroPaginas | number }} </p>
<p>Preço: {{ livro.preco | currency }} </p>
<p>Data de lançamento: {{ livro.dataLancamento | date }} </p>
<p>URL: {{ livro.url }} </p>
<br>
<p>Livro: {{ livro | json }} </p>

<p>Pipe Puro</p>
<input type="text" [(ngModel)]="filtro" >
<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Add curso</button>
<ul>
  <li *ngFor="let liv of livros | filtroArray:filtro">
    {{ liv }}
  </li>
</ul>


<p>Pipe Impuro</p>
<ul>
  <li *ngFor="let liv of livros | filtroArrayImpuro:filtro">
    {{ liv }}
  </li>
</ul>


<p>Maneira correta de usar filtros nos projetos</p>
<ul>
  <li *ngFor="let liv of obterCursos()">
    {{ liv }}
  </li>
</ul>

<p> {{ valorAsync | async }} </p>
